<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">New Manifest</div>
      <div class="panel-body">

        <form>
          <div class="row">
            <div class="col-md-8 col-sm-8 col-lg-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2">
              <h2 class="text-center">
                DCS Departure Manifest Emailer
              </h2>
              <br>
              <h4 class="text-center">
                This app sends your departing event attendees reminder email.
              </h4>

              <h5>
                <ol>
                  <li>
                    Select the Excel (XLS) Departure Manifest file from your computer
                  </li>
                  <li>
                    Then select all of the attendees or individuals by hitting the select box(s)
                  </li>
                </ol>
              </h5>
              <br>
              <h5 class="text-center bold">
                Note the first 5 columns of your manifest must be in the order displayed below
              </h5>
            </div>
          </div>
          <div class="form-group">
            <label for="image">Upload Manifest :</label>
            <input type='file' class="form-control" (change)='imageUploaded($event)'>
          </div>
          <button type="submit" class="btn btn-success" (click)="send()">Send Email</button>
          <span>{{message}}</span>
        </form>
        <br>
        <table class="table table-striped table-bordered table-hover table-condensed">
          <thead>
            <th>
              <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" #all [checked]="checkAll" (change)="toggleAll(all.checked)" class="group-checkable"  name="checkAll"/>
                <span></span>
              </label>
            </th>
            <th>Depart Date</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hotel Depart Time</th>
            <th>Email</th>
          </thead>
          <tbody>
            <tr *ngFor="let user of data">
              <th>
                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                  <input type="checkbox" class="checkboxes"  #user_id  [checked]="user['checked']" (change)="onChange(user['_id'],user_id.checked)"/>
                  <span></span>
                </label>
              </th>
              <td>{{user['Depart Date']}}</td>
              <td>{{user['Last Name']}}</td>
              <td>{{user['First Name']}}</td>
              <td>{{user['Hotel Depart Time']}}</td>
              <td>{{user['Email']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
