<div class="container">
  <div class="row">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="#">Upload Manifest</a>
    </div>

  </div><!-- /.container-fluid -->
</nav>
    <router-outlet></router-outlet>
  </div>
</div>
